@model IEnumerable<TMDBApi.Models.Movie>

@{
    ViewData["Title"] = "Resultados da Busca";
}

<h2>Resultados da Busca</h2>

@if (!Model.Any())
{
    <p>Nenhum filme encontrado.</p>
}
else
{
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    @if (!string.IsNullOrEmpty(movie.PosterPath))
                    {
                        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="@movie.Title">
                    }
                    else
                    {
                        <img class="card-img-top" src="https://via.placeholder.com/500x750?text=No+Image" alt="No Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title (@(!string.IsNullOrEmpty(movie.ReleaseDate) && movie.ReleaseDate.Length >= 4 ? movie.ReleaseDate.Substring(0, 4) : "Ano Desconhecido"))</h5>
                        <p class="card-text">@movie.Overview</p>
                        <p class="card-text"><strong>Nota:</strong> @movie.VoteAverage/10</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
